# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv
*-blx.bib
data/*.parquet
slides/figures/generated/*.pdf
poster/figures/generated/*.pdf
slides/*.pdf
poster/*.pdf

slides/figures/python/__pycache__/

.obsidian/
.venv313/
.venv/
__pycache__

*.pdf